* {
    margin: 0;
    padding: 0;
}
body{
     background: linear-gradient(to top, #808080 0%, #ffffff 100%);
     overflow:auto;
    }
.banner {
        background:#204060;
        width:100%;
        height:115px;
       }
h1 {
       text-align:center;
       color:white;
       font-size:60px;
       padding:20px;
       font-family: 'Original Surfer', cursive;
       float:left;
       margin-left:565px;
      }

.slogan{
	    background:url("work.jpg");
        width:89,5%;
        height:100px;
        font-family: 'Original Surfer', cursive;
        text-align:center;
        font-size:39px;
        padding:70px;
		text-color:white;
		text-shadow:5px 5px 8px black;
	 }
.table0{
    float:center;
    text-align:center;
    padding:30px;
    margin-left:90px;
}
.table1{
       padding:50px;
       color:gray;
       text-align:left;
	   background: linear-gradient(to right, #ccccff 0%, #ffffff 100%);
            }
.table2{ 
        padding:50px;       
        color:black;
        text-align:left;
        background:linear-gradient(to left, #ccccff 0%, #ffffff 100%);
            
       	   	    }
.table3{
        padding:50px;       
        color:black;
        text-align:left;
        background:linear-gradient(to right, #ccccff 0%, #ffffff 100%);
            }
.table4{
       padding:50px;       
        color:black;
        text-align:left;
        background:linear-gradient(to right, #ccccff 0%, #ffffff 100%);      
}     
h3{
   padding:20px;
   text-align:left;
   font-size:30px;
   color:black;
  }
p{
	color:black;
	font-size:25px;
	font-family: 'Chelsea Market', cursive;
	text-align:center;
}

h4{
   text-align:center;
   font-size:40px;
   color:black;
  }
.icon{
      border:3px solid #264d73;
      border-radius:22px;
      width:70px;
      height:70px;
      margin-top:15px;
     }  
.a-list{
	list-style-image: url("message.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.b{
	list-style-image: url("social-media.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.c{
	list-style-image: url("video.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.d{
	list-style-image: url("like.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.e{
	list-style-image: url("photo.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.f{
	list-style-image: url("instagram.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
     text-align:left;
}
.g{
	list-style-image: url("notification.png");
	color:black;
	margin-left:80px;
	font-size:24px;
	font-family:calibri;
    text-align:left;
}
a {
     font-size:20px;
     text-align:left;
	 color:black;
	 margin-left:20px;
		  }
.menu{
        background-color:Gray;
        width:100%;
        height:30px;
		margin-top:0px;
        font-family: 'Original Surfer', cursive;
        font-size:10px;
		padding:4px,16px;
		float:left;
}
.menubar1{	
		float:left;
		display:block;
		color: #00264d;
		text-align:left;
		padding:0px;
		text-decoration:none;
		margin-left:30px;
		font-size:20px;
}
.menubar2{
		float:right;
		display:block;
		color: #00264d;
		text-align:right;
		padding:4px,16px;
		text-decoration:none;
		margin-right:40px;
		font-size:20px;
}
.final {
         float: left;
         background-color: gray;
         color: black;
         height: 50px;
         width: 100%;
              }
.final p {
	text-align:center;
	text-decoration:bold;
	padding-top:10px;
            }
.gallery {
    margin:10px;
    margin-top: 30px;
    float: left;
    margin-left:30px;
}
.gallery img {
        width: 400px;
        height: 300px;
        border: 1px solid #777;
        border-radius: 25px;
        margin-left: 20px;
    }
.desc {
  padding: 15px;
  text-align: center;
}
h2 {
	text-align:center;
	padding:20px;
    font-size:50px;
    color:white;
    text-shadow:5px 5px 8px black;	
}
iframe{
	width:500px;
	height:300px;
    margin-left:500px;
}


